@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  min-width: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  width: 100vw;
  height: 100vh;
}

.btn {
  @apply font-bold py-2 px-4 shadow;
}

.btn-primary {
  @apply bg-text text-white;
}

.btn-primary:hover {
  @apply cursor-pointer bg-black;
}

.btn-secondary {
  @apply bg-transparent text-text border border-text;
}

.btn-secondary:hover {
  @apply bg-text text-white;
}

.btn-disabled {
  @apply bg-neutral-500 text-neutral-300 cursor-not-allowed;
}
